// COLORS

// Blue
$prussian-blue: #003f5e;
$azure-radiance: #0282f9;
$faux-cerulean: #00a9d9;

// White
$white: #FFF;

// Grey
$charcoal: #464646;
$eerie-black: #1c1c1c;

// Green 
$acid-green: #8ef194;
$may-green: #408e44;
$rayquaza-green: #55ba59;