* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header-top {
  background-color: #0282f9;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
}

.header-top ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.header-top ul > li {
  margin: 0 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav .nav-bar #logo {
  width: 80px;
  height: auto;
}

nav .nav-bar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  color: #464646;
  font-size: 20px;
  font-weight: 700;
}

nav .nav-bar .nav-links > li {
  margin: 0 20px;
}

.jumbotron {
  height: 400px;
  width: 100%;
}

.jumbotron img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

.comics {
  padding: 50px 0;
  background-color: #1c1c1c;
  position: relative;
}

.comics .section-label {
  width: 200px;
  height: 50px;
  background-color: #0282f9;
  position: absolute;
  top: -25px;
  left: 10%;
  color: #FFF;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

.comics .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.comics .comic {
  margin: 0 10px;
  flex-basis: calc(100% / 6 - 20px);
}

.comics .comic .comic-cover {
  height: 200px;
  width: 100%;
}

.comics .comic .comic-cover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.comics .comic .comic-name {
  min-height: 50px;
  color: #FFF;
  text-transform: uppercase;
}

.merchandise {
  background-color: #0282f9;
  padding: 30px 0;
}

.merchandise .buy-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.merchandise .buy-links img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

.merchandise .buy-links > li > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.merchandise .buy-links .merch-text {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
}

footer ul {
  list-style-type: none;
}

footer .footer-top {
  height: 400px;
  background: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

footer .footer-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-top .list-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

footer .footer-top .footer-links {
  flex-basis: 50%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: bull;
  align-items: center;
}

footer .footer-top .footer-links > ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-top .footer-links a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 12px;
}

footer .footer-top .big-logo {
  position: relative;
  height: 560px;
  width: 563px;
}

footer .footer-top .big-logo img {
  position: absolute;
  top: -20%;
}

footer .footer-bot {
  background-color: #303030;
  padding: 20px 0;
}

footer .footer-bot .footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

footer .footer-bot .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .footer-bot .social-links > li {
  margin: 0 5px;
}

