* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header-top {
  background-color: #0282f9;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
}

.header-top ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.header-top ul > li {
  margin: 0 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav .nav-bar #logo {
  width: 80px;
  height: auto;
}

nav .nav-bar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  color: #464646;
  font-size: 20px;
  font-weight: 700;
}

nav .nav-bar .nav-links > li {
  margin: 0 20px;
}

.jumbotron {
  height: 400px;
  width: 100%;
}

.jumbotron img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

.merchandise {
  background-color: #0282f9;
  padding: 30px 0;
}

.merchandise .buy-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.merchandise .buy-links img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

.merchandise .buy-links > li > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.merchandise .buy-links .merch-text {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
}

