* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.header-top {
  background-color: #0282f9;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
}

.header-top ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.header-top ul > li {
  margin: 0 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav .nav-bar #logo {
  width: 80px;
  height: auto;
}

nav .nav-bar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  color: #464646;
  font-size: 20px;
  font-weight: 700;
}

nav .nav-bar .nav-links > li {
  margin: 0 20px;
}

.jumbotron {
  height: 400px;
  width: 100%;
}

.jumbotron img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

.comics {
  padding: 50px 0;
  background-color: #1c1c1c;
  position: relative;
}

.comics .section-label {
  width: 200px;
  height: 50px;
  background-color: #0282f9;
  position: absolute;
  top: -25px;
  left: 10%;
  color: #FFF;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

.comics .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.comics .comic {
  margin: 0 10px;
  flex-basis: calc(100% / 6 - 20px);
}

.comics .comic .comic-cover {
  height: 200px;
  width: 100%;
}

.comics .comic .comic-cover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.comics .comic .comic-name {
  min-height: 50px;
  text-transform: uppercase;
}

.comics .comic .comic-name a {
  text-decoration: none;
  color: #FFF;
}

.comics .comic .comic-name a:hover {
  text-decoration: underline;
}

.merchandise {
  background-color: #0282f9;
  padding: 30px 0;
}

.merchandise .buy-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.merchandise .buy-links img {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

.merchandise .buy-links > li > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.merchandise .buy-links .merch-text {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
}

.comic .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 70%;
  padding: 50px 0;
}

.comic .comic-cover-bar {
  width: 100%;
  height: 60px;
  background-color: #0282f9;
  position: relative;
}

.comic .comic-cover-bar .wrapper-comic-cover {
  position: absolute;
  bottom: 20px;
  left: 15%;
  border: 2px solid #FFF;
}

.comic .comic-cover-bar .wrapper-comic-cover img {
  position: relative;
}

.comic .comic-cover-bar .wrapper-comic-cover .label {
  position: absolute;
  background-color: #00a9d9;
  z-index: 2;
  color: #FFF;
  text-transform: uppercase;
}

.comic .comic-cover-bar .wrapper-comic-cover .comic-type-label {
  top: 0;
  left: 0;
  padding: 2px;
}

.comic .comic-cover-bar .wrapper-comic-cover .view-gallery-label {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.comic .comic-info {
  flex-basis: 70%;
}

.comic .comic-info .comic-title {
  color: #003f5e;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 0;
}

.comic .comic-info .availability-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  height: 50px;
  color: #8ef194;
  font-weight: bold;
  background-color: #55ba59;
  border-bottom: 1px solid #408e44;
}

.comic .comic-info .availability-bar .wrapper-price {
  flex-grow: 1;
}

.comic .comic-info .availability-bar .wrapper-price .price {
  color: #FFF;
}

.comic .comic-info .availability-bar .availability {
  text-transform: uppercase;
  padding: 0 10px;
}

.comic .comic-info .availability-bar .select-check-availabilty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding: 0 50px;
  color: #FFF;
  border-left: 1px solid #408e44;
}

.comic .comic-info .availability-bar .select-check-availabilty .fa-caret-down {
  margin-left: 5px;
}

.comic .comic-info .comic-description {
  font-size: 20px;
  color: #464646;
  line-height: 26px;
  padding: 20px 0;
}

.comic .banner-adv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 30%;
}

.comic .banner-adv h3 {
  color: #464646;
  text-transform: uppercase;
}

.comic .comic-recap {
  background-color: #f6f6f6;
  border-top: 1px solid #ececec;
}

.comic .comic-recap .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comic .comic-recap .talent,
.comic .comic-recap .specs {
  flex-basis: 45%;
}

.comic .comic-recap .talent a,
.comic .comic-recap .specs a {
  text-decoration: none;
  color: #29bee5;
}

.comic .comic-recap .talent a:hover,
.comic .comic-recap .specs a:hover {
  text-decoration: underline;
}

.comic .comic-recap .talent h2,
.comic .comic-recap .specs h2 {
  color: #003f5e;
  font-size: 25px;
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
}

.comic .comic-recap .talent .artists,
.comic .comic-recap .talent .writers,
.comic .comic-recap .talent .series-type,
.comic .comic-recap .talent .sale-date,
.comic .comic-recap .talent .price,
.comic .comic-recap .specs .artists,
.comic .comic-recap .specs .writers,
.comic .comic-recap .specs .series-type,
.comic .comic-recap .specs .sale-date,
.comic .comic-recap .specs .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.comic .comic-recap .talent .artists .row-title,
.comic .comic-recap .talent .writers .row-title,
.comic .comic-recap .talent .series-type .row-title,
.comic .comic-recap .talent .sale-date .row-title,
.comic .comic-recap .talent .price .row-title,
.comic .comic-recap .specs .artists .row-title,
.comic .comic-recap .specs .writers .row-title,
.comic .comic-recap .specs .series-type .row-title,
.comic .comic-recap .specs .sale-date .row-title,
.comic .comic-recap .specs .price .row-title {
  flex-basis: 40%;
}

.comic .comic-recap .talent .artists .row-content,
.comic .comic-recap .talent .writers .row-content,
.comic .comic-recap .talent .series-type .row-content,
.comic .comic-recap .talent .sale-date .row-content,
.comic .comic-recap .talent .price .row-content,
.comic .comic-recap .specs .artists .row-content,
.comic .comic-recap .specs .writers .row-content,
.comic .comic-recap .specs .series-type .row-content,
.comic .comic-recap .specs .sale-date .row-content,
.comic .comic-recap .specs .price .row-content {
  flex-basis: 60%;
}

.comic .comic-recap .talent .series-type a,
.comic .comic-recap .specs .series-type a {
  text-transform: uppercase;
}

.comic .merchandise {
  background-color: #f6f6f6;
  border-top: 1px solid #ececec;
  padding: 0;
}

.comic .merchandise .container {
  padding: 0;
}

.comic .merchandise ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comic .merchandise ul > li {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 10px 20px;
  color: #464646;
  font-weight: 700;
  text-transform: uppercase;
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style-type: none;
}

footer .footer-top {
  height: 400px;
  background: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

footer .footer-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-top .list-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

footer .footer-top .footer-links {
  flex-basis: 50%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: bull;
  align-items: center;
}

footer .footer-top .footer-links > ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-top .footer-links a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 12px;
}

footer .footer-top .big-logo {
  position: relative;
  height: 560px;
  width: 563px;
}

footer .footer-top .big-logo img {
  position: absolute;
  top: -20%;
}

footer .footer-bot {
  background-color: #303030;
  padding: 20px 0;
}

footer .footer-bot #sign-up-btn {
  padding: 20px 10px;
  border: 2px solid #0282f9;
  background-color: transparent;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

footer .footer-bot #follow-us {
  color: #0282f9;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

footer .footer-bot .footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

footer .footer-bot .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .footer-bot .social-links > li {
  margin: 0 5px;
}

